<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestión de Accesos</title>
  <!-- Importación del archivo CSS -->
  <link rel="stylesheet" href="/static/dist/app.css">
</head>
<body>
  <script src="/static/dist/app.js"></script>
</body>
</html>
