<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acceso</title>
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <!-- Importación del archivo CSS -->
  <link rel="stylesheet" href="/static/dist/access.css">
</head>
<body>
  <script src="/static/dist/access.js"></script>
</body>
</html>
